node_modules/*
.storybook/*
.storybook-static/*

packages/papillon-alerts/node_modules/*
packages/papillon-alerts/lib/*
packages/papillon-alerts/webpack-babel-sample/node_modules/*

packages/papillon-avatars/node_modules/*
packages/papillon-avatars/lib/*

packages/papillon-base/node_modules/*
packages/papillon-base/lib/*

packages/papillon-blankslate/node_modules/*
packages/papillon-blankslate/lib/*
packages/papillon-blankslate/webpack-babel-sample/node_modules/*

packages/papillon-box/node_modules/*
packages/papillon-box/lib/*

packages/papillon-breadcrumb/node_modules/*
packages/papillon-breadcrumb/lib/*
packages/papillon-breadcrumb/webpack-babel-sample/node_modules/*

packages/papillon-buttons/node_modules/*
packages/papillon-buttons/lib/*
packages/papillon-buttons/webpack-babel-sample/node_modules/*

packages/papillon-core/node_modules/*
packages/papillon-core/lib/*

packages/papillon-labels/node_modules/*
packages/papillon-labels/lib/*
packages/papillon-labels/webpack-babel-sample/node_modules/*

packages/papillon-layout/node_modules/*
packages/papillon-layout/lib/*

packages/papillon-navigation/node_modules/*
packages/papillon-navigation/lib/*

packages/papillon-prime/node_modules/*
packages/papillon-prime/lib/*

packages/papillon-product/node_modules/*
packages/papillon-product/lib/*

packages/papillon-support/node_modules/*
packages/papillon-support/lib/*

packages/papillon-tooltips/node_modules/*
packages/papillon-tooltips/lib/*

packages/papillon-utilities/node_modules/*
packages/papillon-utilities/lib/*
