{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "plugins": ["react", "jsx-a11y"],
  "rules": {
    "import/no-extraneous-dependencies": [
      0,
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.story.js"
        ]
      }
    ],
    "import/named": 2,
    "react/jsx-filename-extension": [2, { "extensions": [".js"] }],
    "react/jsx-max-props-per-line": [2, { "maximum": 4, "when": "always" }],
    "object-curly-spacing": 2,
    "comma-dangle": 2,
    "semi": ["error", "never"]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "commonjs": true,
    "mocha": true,
    "jasmine": true,
    "jest": true
  },
  "globals": {
    "document": false,
    "expect": false,
    "jest": false,
    "renderShallow": false,
    "renderMount": false
  },
   "settings": {
    "react": {
      "version": "16.8.2"
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}
