# MacOS
.DS_Store

# Sublime Text
app.sublime-project
app.sublime-workspace

# Storybook
.storybook-static-develop
.storybook-static-release

# Test
coverage

# NPM Papillon
.npmrc
npm-debug.log
lerna-debug.log
node_modules

# NPM Papillon Alerts Package
packages/papillon-alerts/build
packages/papillon-alerts/node_modules
packages/papillon-alerts/explorer/node_modules

# NPM Papillon Avatars Package
packages/papillon-avatars/build
packages/papillon-avatars/node_modules
packages/papillon-avatars/explorer/node_modules

# NPM Papillon Base Package
packages/papillon-base/build
packages/papillon-base/node_modules
packages/papillon-base/explorer/node_modules

# NPM Papillon Blankslate Package
packages/papillon-blankslate/build
packages/papillon-blankslate/node_modules
packages/papillon-blankslate/explorer/node_modules

# NPM Papillon Box Package
packages/papillon-box/build
packages/papillon-box/node_modules
packages/papillon-box/explorer/node_modules

# NPM Papillon Breadcrumb Package
packages/papillon-breadcrumb/build
packages/papillon-breadcrumb/node_modules
packages/papillon-breadcrumb/explorer/node_modules

# NPM Papillon Buttons Package
packages/papillon-buttons/build
packages/papillon-buttons/node_modules
packages/papillon-buttons/explorer/node_modules

# NPM Papillon Core Package
packages/papillon-core/build
packages/papillon-core/node_modules
packages/papillon-core/explorer/node_modules

# NPM Papillon Labels Package
packages/papillon-labels/build
packages/papillon-labels/node_modules
packages/papillon-labels/explorer/node_modules

# NPM Papillon Layout Package
packages/papillon-layout/build
packages/papillon-layout/node_modules
packages/papillon-layout/explorer/node_modules

# NPM Papillon Navigation Package
packages/papillon-navigation/build
packages/papillon-navigation/node_modules
packages/papillon-navigation/explorer/node_modules

# NPM Papillon Prime Package
packages/papillon-prime/build
packages/papillon-prime/node_modules
packages/papillon-prime/explorer/node_modules

# NPM Papillon Product Package
packages/papillon-product/build
packages/papillon-product/node_modules
packages/papillon-product/explorer/node_modules

# NPM Papillon Support Package
packages/papillon-support/build
packages/papillon-support/node_modules
packages/papillon-support/explorer/node_modules

# NPM Papillon Tooltips Package
packages/papillon-tooltips/build
packages/papillon-tooltips/node_modules
packages/papillon-tooltips/explorer/node_modules

# NPM Papillon Utilities Package
packages/papillon-utilities/build
packages/papillon-utilities/node_modules
packages/papillon-utilities/explorer/node_modules
