{
  "packages/**/lib/**/*.{js,jsx}": [
    "eslint --ext .js --ext .jsx packages/**/lib/**/*.{js,jsx} --fix",
    "prettier --write \"packages/**/lib/**/*.{js,jsx}\"",
    "git add",
    "jest --bail findRelatedTests --passWithNoTests --runInBand"
  ]
}
