package-lock.json
node_modules
.storybook
.storybook-static

packages/papillon-alerts/package-lock.json
packages/papillon-alerts/build
packages/papillon-alerts/node_modules
packages/papillon-alerts/explorer/node_modules

packages/papillon-avatars/package-lock.json
packages/papillon-avatars/build
packages/papillon-avatars/node_modules
packages/papillon-avatars/explorer/node_modules

packages/papillon-base/package-lock.json
packages/papillon-base/build
packages/papillon-base/node_modules
packages/papillon-base/explorer/node_modules

packages/papillon-blankslate/package-lock.json
packages/papillon-blankslate/build
packages/papillon-blankslate/node_modules
packages/papillon-blankslate/explorer/node_modules

packages/papillon-box/package-lock.json
packages/papillon-box/build
packages/papillon-box/node_modules
packages/papillon-box/explorer/node_modules

packages/papillon-breadcrumb/package-lock.json
packages/papillon-breadcrumb/build
packages/papillon-breadcrumb/node_modules
packages/papillon-breadcrumb/explorer/node_modules

packages/papillon-buttons/package-lock.json
packages/papillon-buttons/build
packages/papillon-buttons/node_modules
packages/papillon-buttons/explorer/node_modules

packages/papillon-core/package-lock.json
packages/papillon-core/build
packages/papillon-core/node_modules
packages/papillon-core/explorer/node_modules

packages/papillon-labels/package-lock.json
packages/papillon-labels/build
packages/papillon-labels/node_modules
packages/papillon-labels/explorer/node_modules

packages/papillon-layout/package-lock.json
packages/papillon-layout/build
packages/papillon-layout/node_modules
packages/papillon-layout/explorer/node_modules

packages/papillon-navigation/package-lock.json
packages/papillon-navigation/build
packages/papillon-navigation/node_modules
packages/papillon-navigation/explorer/node_modules

packages/papillon-prime/package-lock.json
packages/papillon-prime/build
packages/papillon-prime/node_modules
packages/papillon-prime/explorer/node_modules

packages/papillon-product/package-lock.json
packages/papillon-product/build
packages/papillon-product/node_modules
packages/papillon-product/explorer/node_modules

packages/papillon-support/package-lock.json
packages/papillon-support/build
packages/papillon-support/node_modules
packages/papillon-support/explorer/node_modules

packages/papillon-utilities/package-lock.json
packages/papillon-utilities/build
packages/papillon-utilities/node_modules
packages/papillon-utilities/explorer/node_modules
